<div>
  No of Sec: <input type="number" min="0" style="width: 60px;" [value]="timeInput" (change)="updateChange($event)">
</div>
<div>
  Counter : {{counter}}
</div>
<button (click)="addCounter()" style="font-size: 50px;">+</button>
<button (click)="minusCounter()" style="font-size: 50px;">-</button>
<button (click)="resetCounter()" style="font-size: 30px;">Reset</button>
<div>
  {{time2}} {{time2>1?"Seconds":"Second"}}
</div>
<button (click)="startTimer()">Start</button><button (click)="resetTimer()">Reset</button>
